@import 'setup';


/* fonts */
$main: 'pinyon script';
$body: 'montserrat';

// ==========================================================//
//                          general                          //
// ==========================================================//
html {
    // 1rem = 22.4px
    font-size: 140%;
    background: #f8d9b1;
    
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
    background-image:
        linear-gradient(to bottom, rgba(255,255,255,0.6), rgba(248, 217, 177, 0.5)),
        url('../assets/background.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

h1,
h2,
h3,
p,
form,
legend {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

h1,
p {
    padding-bottom: 30px;
}

h2,
h3 ,
p,
form,
legend,
a {
    font-family: $body, sans-serif;
    color: #1d1d1d;
}

h2,
h3 {
    font-size: 1.34rem;
}

p,
form,
legend,
a {
    font-size: 1.12rem;
}

img {
    max-width: 100%;
    width: 100%
}

select:focus,
select:hover,
input:focus,
input:hover,
button:focus,
button:hover,
a:focus,
a:hover {
    box-shadow: 0 0 10px #1d1d1d;
}

// ==========================================================//
//                           header                          //
// ==========================================================//
h1 {
    font-family: $main, sans-serif;
    font-size: 5.58rem;
    font-weight: 200;
    text-transform: lowercase;
}

.userSelectionPage {
    width: 100%;
    min-height: 95vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // position: relative;
}

.formBackground {
    width: 85%;
    border-radius: 30px;
}

form { 
    padding: 20px 0;
}

input[type=text]::placeholder {
    opacity: 1;
}

input, 
select, 
fieldset {
    width: 100%;
    margin: 15px 0;
    padding: 5px;
    border: none;
    text-align: center;
}

input,
select {
    background: transparent;
    border-bottom: 2px solid black;
}

.submit {
    background: #1d1d1d;
    border-radius: 30px;
    color: #fdfdfd;
}

// ==========================================================//
//                     main restaurant display               //
// ==========================================================//
main {
    display: none;
}

.restaurantDisplay {
    margin: 30px auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.singleRestaurant {
        margin: 10px auto;    
        width: 40%;
        background: rgba(253, 253, 253, 0.8);
        border-radius: 30px;    
        text-align: center;    

        img {
            max-height: 300px;
            object-fit: cover;
            object-position: center;
        }
}

a {
    text-decoration: none;
    border: 2px solid #1d1d1d;
    padding: 0 20px;
}

.resetButton {
    display: none;
    padding: 5px;
    text-align: center;
}

.reset {
    background: #1d1d1d;
    width: 80%;
    margin:0 auto;
    border: none;
    border-radius: 20px;

    p {
        padding-bottom: 0;
        color: #fdfdfd;
    }
}

// ==========================================================//
//                            footer                         //
// ==========================================================//
footer {

    p {
        padding-bottom: 0;
    }
}




@media (max-width: 760px) {
    .restaurantDisplay {
        display:flex;
        flex-direction: column;
    }

    .singleRestaurant {
        width:60%;
    }

    h1 {
        font-size: 100px;
    }
}

@media (max-width: 550px) {

    .singleRestaurant {
        width: 90%;
    }

    .submit {
        font-size: 20px;
    }

}




